
  #start {
    display:flex;
    width: 500px;
    height: 500px;
    flex-grow: 1;
  }
  
  .startGrid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .boxStart {
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

  #container {
    display:flex;
    width: 500px;
    height: 500px;
    flex-grow: 1;
  }
  
  .boxContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .box {
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}
  
 

  